@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --grid-margin: .75rem;
    @apply md:[--grid-margin:8vw] xl:[--grid-margin:16vw] 2xl:[--grid-margin:20vw];
  }

  .content-grid {
    @apply gap-3 md:gap-x-8;

    display: grid;
    grid-template-columns:
    [full-width-start]
      calc(var(--grid-margin) - 2rem)
      [content-start]
        repeat(2, minmax(0, 1fr))
        [narrow-start]
          repeat(8, minmax(0, 1fr))
        [narrow-end]
        repeat(2, minmax(0, 1fr))
      [content-end]
      calc(var(--grid-margin) - 2rem)
    [full-width-end]
  ;
  }

  .content-grid > :not(.content-full-width):not([class*="col-"]) {
    grid-column: content;
  }

  .content-grid > .content-full-width {
    grid-column: full-width;
  }

  @media (min-width: 1024px) {
    .content-grid > .content-narrow {
      grid-column: narrow !important;
    }
  }

  @media (min-width: 1280px) {
    .content-grid > .content-narrow-lg {
      grid-column: narrow !important;
    }
  }

  .link {
    @apply font-semibold underline underline-offset-2 transition-colors hover:text-red-600 focus-visible:text-red-600
  }

  body {
    @apply antialiased h-full bg-gray-900 text-gray-200 selection:bg-red-600 selection:text-white;
  }
}
